.App {
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;

  .gameArea {
    display: flex;
    justify-content: flex-end;
    border: 1px solid orange !important;
    width: 600px;
    height: 600px;
    position: relative;

    .box {
      width: 50px;
      height: 50px;
      background-color: navy;
      position: absolute;
      // top: 250px;
      // right: 250px;
    }
  }

  .gameAreaCenter {
    justify-content: center;
  }

  .gameAreaRight {
    justify-content: flex-end;
  }

  .gameAreaLeft {
    justify-content: flex-start;
  }
  .gameAreaUp {
    align-content: flex-start;
  }
  .gameAreaDown {
    align-content: flex-end;
  }
}
